body{
    background:black;
    color:white;
    font-family:Arial;
    margin:0;
}

#chat{
    height:90vh;
    overflow-y:auto;
    padding:20px;
}

#input-area{
    display:flex;
    padding:10px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px;
}
