*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    background:#000;
    font-family:Segoe UI;
}

#app{
    display:flex;
    flex-direction:column;
    height:100vh;
}

#chat{
    flex:1;
    overflow-y:auto;
    padding:15px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.bubble{
    max-width:75%;
    padding:14px 18px;
    border-radius:22px;
    word-break:break-word;
}

.user{
    align-self:flex-end;
    background:white;
    color:black;
}

.bot{
    align-self:flex-start;
    background:#111;
    color:#9e8cff;
}

#typing{
    color:#666;
    padding:10px;
    font-size:14px;
}

#input-area{
    display:flex;
    gap:10px;
    padding:12px;
    background:#000;
}

#message{
    flex:1;
    border:none;
    outline:none;
    background:#111;
    color:white;
    border-radius:25px;
    padding:12px 18px;
}

.circle-btn,
#send{
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
}

.circle-btn{
    background:#111;
    color:white;
}

#send{
    background:white;
    color:black;
}

/* CELULAR */

@media(max-width:600px){

    .bubble{
        max-width:90%;
    }

    .circle-btn,
    #send{
        width:45px;
        height:45px;
    }

}
